.DS_Store
/Movies/Movies.xcodeproj/project.xcworkspace/xcuserdata/nicksinklier.xcuserdatad/UserInterfaceState.xcuserstate
/Movies/.DS_Store
/Movies/Movies.xcodeproj/xcuserdata/nicksinklier.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
